*
{
    margin: 0px;
    padding: 0px;
    background-color:#6793e6;
}
body{
    margin: 0;

}
.topMessage {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: 28px;
    margin-top: 70px;
    margin-bottom: 0%;
    margin-left: 60px;
    width: 65%;
    color: honeydew;
}

.container
{
    width: 100%;
    height: 260px;
    background: rgb(105, 165, 221);
    position: relative;
  }

.container h2 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(105, 165, 221);
    margin-left: 60px;
    margin-right: 200px;
    position: relative;
    top: 20%;
    
}

.projects 
{
    width: 100%;
    height: 200px;
    background: rgb(125, 146, 241);

}
.projects h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f7f7f8;
    margin-left: 60px;
    padding-top: 30px;
    background-color: rgb(125, 146, 241) ;
}
nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 0px;
  
}
.main-nav li
{
    display: inline-block;

}
.main-nav li a
{
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0px;

}
.getInTouch
{
    padding: 0px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 60px;
    color: white;

}

.button_send {
    padding: 10px 20px;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    outline: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(206, 125, 192);
}
.contact
{
    margin-left: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 25px;
}
.contact ul
{   
    list-style-type: none;
    justify-content: flex-end;
    float: left;
}

.contact ul li {
    display: inline;
}

.arrow
{
    display: inline-block;
    margin-top: 0px;
    margin-left: 1000px;
    size: 50px;
}
.arrow a
{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;

}